@use '../utils/colors.scss' as *;

.recipes {
  display: grid;
  justify-items: center;

  & > .categories {
    width: 100%;
    margin: 3.2rem 0;
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    padding: 0 1.6rem;

    & > div {
      display: grid;
      grid-template-columns: repeat(6, auto);
      gap: .8rem;
      width: calc(100vw - 3.2rem);
      overflow-x: scroll;

      & > label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        font-size: 1.2rem;
        color: $secondary;

        width: 6.4rem;
        height: 6.4rem;

        border: .1rem solid $secondary;
        border-radius: .8rem;
        padding: .4rem;

        & > img {
          width: 3.2rem;
          height: 3.2rem;
          
          &:not(:last-child) {
            margin-right: 1.6rem;
          }
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  & > .meals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .8rem;
    margin: 0 1.6rem;
    padding-bottom: 6.4rem;
    
    & > div {
      border: 1px solid lighten($secondary, 28%);
      border-radius: .8rem;
      overflow: hidden;

      & > img {
        width: 100%;
        margin-bottom: 1rem;
      }

      & > p {
        padding: 0 .8rem;
        color: $black;
      }
    }
  }
}